{
  "presets": [
    "react",
    "env",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "lodash",
    "syntax-dynamic-import",
    "babel-plugin-styled-components",
    "transform-runtime"
  ]
}
